$black: black;
$limegreen: lime;
$blackish: rgb(10, 46, 66);
$white: white;
$grayish: rgb(76, 83, 116);
$lightblue: dodgerblue;
$grayFont: rgb(145, 182, 173);
$whitesmoke: whitesmoke;
$lightgrey: rgb(231, 225, 225);
$red: rgb(179, 106, 106);
$opacityGrey: rgba(145, 182, 173, 0.15);
$opacityDarkGrey: rgba(76, 83, 116, 0.7);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: $blackish;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: min(70px) 1fr 100px;
  overflow-x: hidden;

  next-route-announcer{
    display: none;
    width: 0;
    height: 0;
  }

  h1, a{
    color: $blackish;
  }

  button{
    cursor: pointer;
    border: none;
    padding: .7rem 1.8rem;
    color: $white;
    background: $limegreen;
    font-size: 1rem;
  }

  input{
    outline: 1px solid $blackish;
    border: none;
    padding: .7rem 1.0rem;
    font-size: 1rem;

    &:focus{
      outline: 2px solid $lightblue;
    }
  }
  
  .search-input{
    outline: none !important;
    border: none !important;
    background: $whitesmoke;
  }

  .search-btn{
    outline: none !important;
    border: none !important;
    background: $blackish;
    margin-right: auto;
    padding: .7rem;
  }
  
  .sidebar-btn{
    padding: .6rem;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    display: grid;
    place-items: center;

    &:hover{
      background: rgba(128, 128, 128, .25);
    }
  }
}

header{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 1rem;
  gap: 1rem;
  background: $white;
  z-index: 4;
  border-bottom: 1px solid $lightgrey;

  .logo{
    margin-right: auto;
    font-size: 1.7rem;
    font-weight: bold;
    color: $red;
    white-space: nowrap;
  }

}

main{
  min-height: calc(100vh - 70px);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

  section{
    padding: 1rem;
    display: grid;

    .main-img{
      border-radius: 1rem;
      object-fit: cover;
      width: 40%;
      aspect-ratio: 16 / 9;
      box-shadow: 0px 0px 15px 9px rgba(0, 0,0,0.25);
    }
    
    .filter-results{
      overflow-x: auto !important;
      gap: 1rem;
      padding: 1rem 2.2rem;
      padding-top: 0;
      border-bottom: 1px solid $whitesmoke;
      width: 100%;

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 60px;
      
      .filters-children{
        width: 60px;
        cursor: pointer;

        h4, svg{
          margin-left: 40%;
          color: $grayFont;
          text-align: center;
        }
        p{
          font-size: .9rem;
          color: $grayFont;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .search-results{
      display: grid;
      grid-auto-rows: 320px;
      grid-template-columns: repeat(auto-fit, 240px);
      gap: 1.5rem;
      justify-content: center;
      margin-top: 1rem;
  
      .children{
        border-radius: .8rem;
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        cursor: pointer;
  
        img{
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border-radius: .8rem;
          transition: transform .35s ease-in-out;
  
          &:hover{
            transform: scale(1.1);
          }
        }
        .card-info{
          z-index: 2;
          border-radius: 0 0rem .8rem .8rem;
          display: grid;
          padding-top: .5rem;
          background: $white;

          p{
            color: $grayFont;
            font-weight: bold;
            display: flex;
            font-size: .9rem;

            h3{
              margin-left: auto;
              font-weight: bold;
            }
          }
        }
      }
    }

    .grey-bg{
      z-index: 6;
      background: $opacityDarkGrey;
      position: fixed;
      width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      place-items: center;
      display: none;

      .modal{
        border-radius: .4rem;
        z-index: 7;
        margin-inline: 1rem;
        width: clamp(70%, 200px, 50%);
        min-height: clamp(60%, 250px, 20%);
        background: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        position: relative;

        img{
          object-fit: cover;
          height: 100%;
          width: 50%;
          aspect-ratio: 1 / 1;
        }

        .modal-info{
          flex: 1;
          min-width: 300px;
          min-height: 100%;
          line-height: 2rem;
          display: grid;
          gap: .5rem;

          div:first-of-type{
            display: flex;
            gap: .7rem;

            p{
              font-size: .85rem;
              display: inline-block;
              color: $limegreen;
            }
          }
          
          button{
            background: $blackish;
          }
        }
      }
      .modal-close{
        position: absolute;
        right: .5rem;
        top: .5rem;
      }
    }

    .showModal{
      display: grid !important;
    }
  }

  .showAside{
    transform: translateX(310px);
  }
  aside{
    transition: transform .24s ease-in-out;
    position: absolute;
    height: 100%;
    left: -310px;
    z-index: 3;
    width: clamp(10%, 100%, 310px);
    background: $whitesmoke;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    align-content: flex-start;

    p{
      text-align: center;
      padding: .7rem;

      &:hover{
        background: rgba(145, 182, 173, 0.15);
      }
    }
    button{
      height: 40px;
      background: $grayish;
    }
    div{
      display: none;
      gap: 1rem;

      input{
        flex: 1;
        height: 40px;
        background: $white !important;
      }
      button{
        height: 40px;
        background: $grayish;
      }
    }
    .shops{
      margin-top: 1rem;
      background: $white;
      min-height: 500px;
    }
  }
}
footer{
  background: $grayish;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  p, a{
    color: $grayFont;
  }
}

@media only screen and (max-width: 600px) {
  header{
    .disappeanOn500Px{
      display: none;
    }
  }
  main{
    section{
      .grey-bg{
        .modal{
          width: clamp(90%, 200px, 50%);
        }
      }
    }
  }
  aside{
    div{
      display: flex !important;
    }
  }
}